useDynLib(uneqmixr)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "sd", "var", "rnorm", "rpois")
importFrom("extraDistr", "rgpois")
export(AOQL_scenarios,compare_ex_var_scenario_1,compare_ex_var_scenario_2,compare_ex_var_scenario_3)
export(Ex_var_scenario_1, Ex_var_scenario_2, Ex_var_scenario_3)
export(compare_prevalence_scenario_4,compare_prevalence_scenario_5,scenario_1_OC,scenario_1_pa,scenario_1_pd,scenario_1_pd_curve, scenario_2_OC)
export(scenario_2_pa, scenario_2_pd, scenario_2_pd_curve, scenario_3_OC,scenario_3_pa,scenario_3_pd, scenario_3_pd_curve, scenario_4_prevalence,scenario_5_prevalence)
