exportPattern("^[[:alpha:]]+")
importFrom("stats", "sd", "rnorm", "rpois")
importFrom("extraDistr", "rgpois")
export(scenario_1A_pd)
export(scenario_1A_OC)
export(scenario_1B_pd)
export(scenario_1B_OC)
export(scenario_2_pd)
export(scenario_2_OC)
export(scenario_3_pd)
export(scenario_3_OC)
