exportPattern("^[[:alpha:]]+")
importFrom("stats", "sd", "var", "rnorm", "rpois")
importFrom("extraDistr", "rgpois")
export(AOQL_scenarios)
export(compare_ex_var_scenario_1)
export(compare_ex_var_scenario_2)
export(compare_ex_var_scenario_3)
export(compare_prevalence_scenario_4)
export(compare_prevalence_scenario_5)
export(scenario_1_OC)
export(scenario_1_pa)
export(scenario_1_pd)
export(scenario_2_OC)
export(scenario_2_pa)
export(scenario_2_pd)
export(scenario_3_OC)
export(scenario_3_pa)
export(scenario_3_pd)
export(scenario_4_prevalence)
export(scenario_5_prevalence)
